### Import Libraries

In [1]:
import pandas as pd
import numpy as np
import json
from combat.pycombat import pycombat
import warnings
warnings.filterwarnings('ignore')

def load_json(json_path):
    """
    Load json data as a dictionary
    """
    with open(json_path) as f:
        file = f.read()
    json_data = json.loads(file)

    return json_data

### Load Data

In [2]:
# Load Annotation
Affimetrix_map = load_json("data2/Affymetrix_map.json")
Affimetrix_map.keys()

dict_keys(['AFF_PM_to_ALIAS', 'ENTREZID_to_ALIAS'])

In [3]:
# Load gene expression data
GSE152004_norm_data = pd.read_csv('data1/GSE152004_norm_data.csv')
GSE67472_norm_data = pd.read_csv('data1/GSE67472_norm_data.csv')
GSE201955_norm_data = pd.read_csv('data1/GSE201955_norm_data.csv')
GSE58434_norm_data = pd.read_csv('data1/GSE58434_norm_data.csv')
GSE69683_norm_data = pd.read_csv('data1/GSE69683_norm_data.csv')

In [4]:
# Load metadata
GSE152004_metadata = pd.read_csv('data1/GSE152004_metadata.csv')
GSE152004_metadata.index = GSE152004_metadata["Unnamed: 0"]
GSE152004_metadata.drop("Unnamed: 0", axis = 1, inplace = True)

GSE67472_metadata = pd.read_csv('data1/GSE67472_metadata.csv')
GSE67472_metadata.index = GSE67472_metadata["Unnamed: 0"]
GSE67472_metadata.drop("Unnamed: 0", axis = 1, inplace = True)

GSE201955_metadata = pd.read_csv('data1/GSE201955_metadata.csv')
GSE201955_metadata.index = GSE201955_metadata["Unnamed: 0"]
GSE201955_metadata.drop("Unnamed: 0", axis = 1, inplace = True)

GSE58434_metadata = pd.read_csv('data1/GSE58434_metadata.csv')
GSE58434_metadata.index = GSE58434_metadata["Unnamed: 0"]
GSE58434_metadata.drop("Unnamed: 0", axis = 1, inplace = True)

GSE69683_metadata = pd.read_csv('data1/GSE69683_metadata.csv')
GSE69683_metadata.index = GSE69683_metadata["Unnamed: 0"]
GSE69683_metadata.drop("Unnamed: 0", axis = 1, inplace = True)

In [5]:
# Load Limma, and WGCNA Results
GSE152004_modules_df = pd.read_csv('data2/GSE152004_modules.csv')
GSE152004_Limma_Results_df = pd.read_csv('data2/GSE152004_Limma_Results.csv')
GSE152004_r_and_Pvalue_df = pd.read_csv('data2/GSE152004_r_and_Pvalue_data.csv')

GSE67472_modules_df = pd.read_csv('data2/GSE67472_modules.csv')
GSE67472_Limma_Results_df = pd.read_csv('data2/GSE67472_Limma_Results.csv')
GSE67472_r_and_Pvalue_df = pd.read_csv('data2/GSE67472_r_and_Pvalue_data.csv')

GSE201955_modules_df = pd.read_csv('data2/GSE201955_modules.csv')
GSE201955_Limma_Results_df = pd.read_csv('data2/GSE201955_Limma_Results.csv')
GSE201955_r_and_Pvalue_df = pd.read_csv('data2/GSE201955_r_and_Pvalue_data.csv')

GSE58434_modules_df = pd.read_csv('data2/GSE58434_modules.csv')
GSE58434_Limma_Results_df = pd.read_csv('data2/GSE58434_Limma_Results.csv')
GSE58434_r_and_Pvalue_df = pd.read_csv('data2/GSE58434_r_and_Pvalue_data.csv')

GSE69683_modules_df = pd.read_csv('data2/GSE69683_modules.csv')
GSE69683_Limma_Results_df = pd.read_csv('data2/GSE69683_Limma_Results.csv')
GSE69683_r_and_Pvalue_df = pd.read_csv('data2/GSE69683_r_and_Pvalue_data.csv')

### Arrange Data

In [6]:
GSE152004_norm_data.index = GSE152004_norm_data.gene_id
GSE152004_norm_data.drop("gene_id", axis = 1, inplace = True)
GSE152004_norm_data = GSE152004_norm_data.T
GSE152004_norm_data.index.name = "sample_name"
GSE152004_norm_data.head()

gene_id,A1BG,A1BG-AS1,A1CF,A2M,A2M-AS1,A2ML1,A2MP1,A3GALT2,A4GALT,A4GNT,...,ZWILCH,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3
sample_name,,,,,,,,,,,,,,,,,,,,,
HR1005,12.047600,12.047600,0.0,531.815488,75.727772,151.455543,0.000000,12.047600,7380.015570,0.0,...,333.890630,165.224229,213.414629,487.067259,1485.296977,15.489771,1519.718691,2039.486579,4042.830358,1089.447261
HR1006,16.204622,13.645997,0.0,382.940804,23.880496,633.686008,0.000000,1.705750,20669.421796,0.0,...,326.651064,121.961102,187.632465,508.313406,1739.864678,52.025365,1409.802114,3917.254149,4017.040506,1224.728273
HR1009,21.992452,12.936737,0.0,169.471249,29.754494,648.130502,1.293674,9.055716,12044.101737,0.0,...,394.570465,249.679016,204.400438,512.294768,1503.248788,67.271030,1582.162881,2668.848752,3708.962372,1353.182644
HR1010,9.808778,3.772607,0.0,130.532202,26.408249,705.477508,0.754521,8.299735,18126.622082,0.0,...,467.048746,273.891268,202.966256,605.880683,1489.425241,51.307455,1876.494719,3338.757189,3414.963850,1251.751000
HR1012,11.376166,21.330311,0.0,1083.579785,28.440414,203.348962,4.266062,5.688083,13180.710004,0.0,...,462.156732,314.266578,214.725128,484.909064,1275.552581,27.018394,1504.497916,3924.777172,3431.335985,1215.827711

In [7]:
GSE67472_norm_data.index = GSE67472_norm_data.gene_id
GSE67472_norm_data.drop("gene_id", axis = 1, inplace = True)
GSE67472_norm_data = GSE67472_norm_data.T
GSE67472_norm_data.index.name = "sample_name"
GSE67472_norm_data.head()

gene_id,100009676_at,10000_at,10001_at,10002_at,10003_at,100048912_at,100049716_at,10004_at,10005_at,10006_at,...,9989_at,998_at,9990_at,9991_at,9992_at,9993_at,9994_at,9997_at,999_at,9_at
sample_name,,,,,,,,,,,,,,,,,,,,,
"Airway epithelium, asthma sample 01",5.329072,4.888653,6.717174,4.903333,4.445861,4.808544,6.854104,5.103949,5.927904,9.579241,...,10.117098,7.123103,6.346994,8.523364,5.859315,7.303053,5.222605,9.679513,8.545118,9.604065
"Airway epithelium, asthma sample 02",5.995749,4.980210,6.641973,4.991354,4.354581,4.639297,6.299639,5.765387,6.345293,8.970563,...,9.711283,7.067920,6.315463,8.517702,5.299672,7.654083,4.410016,8.691703,9.025900,9.388568
"Airway epithelium, asthma sample 03",5.702682,5.371424,7.234998,5.398429,4.379199,4.752368,6.337287,5.251048,5.843571,9.537878,...,9.499548,7.222755,6.033887,8.550329,5.482077,7.495711,4.537349,7.265700,8.853830,9.350149
"Airway epithelium, healthy sample 01",5.583717,4.834860,7.108063,5.141136,4.159465,5.291560,6.255015,5.151088,5.987954,9.131043,...,9.964046,7.217349,6.062817,8.621510,5.015522,7.563695,4.613191,9.566222,8.849365,9.172806
"Airway epithelium, asthma sample 04",5.743467,4.736444,7.148278,4.757029,4.754785,4.487500,6.468263,5.425693,6.053634,9.198382,...,10.091075,6.835439,6.413736,8.540482,5.165816,7.486327,4.374204,9.074473,8.714443,9.346384

In [8]:
GSE201955_norm_data.index = GSE201955_norm_data.gene_id
GSE201955_norm_data.drop("gene_id", axis = 1, inplace = True)
GSE201955_norm_data = GSE201955_norm_data.T
GSE201955_norm_data.index.name = "sample_name"
GSE201955_norm_data.head()

gene_id,DNAJC11,CDK11A,NADK,MASP2,CLCN6,TNFRSF1B,THAP3,VPS13D,H6PD,VAMP3,...,SHISA8,NFAM1,APOBEC3G,ADSL,PDXP,ARHGAP8,ARFGAP3,APOBEC3C,SHANK3,NOL12
sample_name,,,,,,,,,,,,,,,,,,,,,
46b4_4d67,5.195173,0.434760,6.682951,-1.647374,4.707818,6.323831,3.853517,6.156486,6.290615,6.600191,...,-0.475513,4.405011,5.296945,2.284840,1.467736,1.062751,6.694004,5.187811,0.978422,2.895713
442a_4ee4,5.009279,0.352068,6.386289,0.444971,5.123592,3.563797,4.333164,6.909673,6.274079,6.806959,...,0.123908,1.732832,5.114328,2.633263,1.265538,1.235494,6.370056,5.418903,1.293322,3.340659
ce47_4b11,4.895325,0.863774,6.377870,0.150260,5.271711,3.856383,4.055262,7.052612,6.594367,6.497604,...,0.623454,1.392833,4.348760,2.966214,2.002705,3.333978,6.413285,4.863625,1.412305,3.461423
f868_4cba,5.224931,0.953208,6.497938,-0.837709,4.831947,4.505654,4.119327,6.823517,6.755827,6.842240,...,0.453776,3.445990,4.404184,2.627003,1.731249,3.299381,6.912591,5.122441,0.896869,3.661237
273e_4084,5.204216,1.132661,6.520615,-0.864559,5.548620,6.031218,4.066954,6.607320,6.984108,6.633789,...,1.222403,2.702998,5.541400,2.590201,1.284268,3.111907,6.513805,5.164490,1.114981,3.524019

In [9]:
GSE58434_norm_data.index = GSE58434_norm_data.gene_id
GSE58434_norm_data.drop("gene_id", axis = 1, inplace = True)
GSE58434_norm_data = GSE58434_norm_data.T
GSE58434_norm_data.index.name = "sample_name"
GSE58434_norm_data.head()

gene_id,1/2-SBSRNA4,A1BG,A1BG-AS1,A1CF,A2LD1,A2M,A2ML1,A2MP1,A4GALT,A4GNT,...,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3,tAKR
sample_name,,,,,,,,,,,,,,,,,,,,,
S-001167453,0.486713,6.67863,0.800632,0.0,2.76746,107.67000,0.021372,0.0,71.7415,0.346234,...,1.66841,0.923785,2.48296,3.80731,0.130765,5.32574,182.016,3.33042,9.49594,0.0
S-001167456,0.213607,6.06781,0.976157,0.0,2.23426,111.04000,0.000000,0.0,34.5602,0.016334,...,1.21035,1.213130,2.35309,4.27201,0.040554,5.96152,281.918,4.14323,9.04584,0.0
S-001167457,0.328667,5.66054,1.011490,0.0,2.97234,447.55900,0.013058,0.0,64.9927,0.235736,...,2.03526,0.925011,2.02607,4.37955,0.207449,5.09867,323.245,4.52346,8.26247,0.0
S-001167458,0.193905,9.01004,0.831169,0.0,2.93006,5.41849,0.000000,0.0,30.2220,0.079486,...,2.22260,0.586752,2.10799,4.61071,0.186260,5.97974,346.286,3.83862,8.83471,0.0
S-001167459,0.415307,6.41691,0.848899,0.0,2.28378,226.60300,0.011371,0.0,80.5774,0.217933,...,1.74028,0.781153,1.84381,3.97499,0.115428,5.74150,184.021,4.79642,8.24657,0.0

In [10]:
GSE69683_norm_data.index = GSE69683_norm_data.gene_id
GSE69683_norm_data.drop("gene_id", axis = 1, inplace = True)
GSE69683_norm_data = GSE69683_norm_data.T
GSE69683_norm_data.index.name = "sample_name"
GSE69683_norm_data.head()

gene_id,1007_PM_s_at,1053_PM_at,117_PM_at,121_PM_at,1255_PM_g_at,1294_PM_at,1316_PM_at,1320_PM_at,1405_PM_i_at,1431_PM_at,...,AFFX-r2-TagO-3_at,AFFX-r2-TagO-5_at,AFFX-r2-TagQ-3_at,AFFX-r2-TagQ-5_at,AFFX-ThrX-3_at,AFFX-ThrX-5_at,AFFX-ThrX-M_at,AFFX-TrpnX-3_at,AFFX-TrpnX-5_at,AFFX-TrpnX-M_at
sample_name,,,,,,,,,,,,,,,,,,,,,
A_220,4.58,6.72,8.75,5.43,2.63,7.63,4.93,3.61,9.56,3.65,...,2.41,3.90,2.52,2.78,7.77,5.45,5.85,2.43,3.05,2.65
A_251,5.62,6.44,8.44,4.53,2.48,7.44,5.48,3.50,9.33,3.81,...,2.61,3.55,2.42,2.62,7.94,5.54,6.01,2.51,3.03,2.50
A_483,4.90,6.75,8.26,5.04,2.54,7.65,5.18,3.80,10.33,3.97,...,2.64,3.65,2.46,2.77,8.72,6.01,6.74,2.52,3.04,2.77
A_282,4.33,6.57,9.16,5.04,2.71,8.18,5.09,3.62,9.63,3.93,...,2.38,3.59,2.51,2.99,8.40,6.01,6.68,2.50,2.96,2.72
A_021,5.30,6.64,9.29,4.85,2.59,8.05,5.20,3.79,9.69,3.84,...,2.39,3.79,2.99,3.12,9.58,6.89,7.61,2.72,3.13,3.03

### Annotate Affimetrix Columns

In [11]:
# annotate GSE67472_norm_data genes
AFF_column_names = GSE67472_norm_data.columns
annotated_columns_GSE67472 = list(map(lambda x: Affimetrix_map['ENTREZID_to_ALIAS'][x.split("_")[0]] if x.split("_")[0] in Affimetrix_map['ENTREZID_to_ALIAS'] else x,AFF_column_names))
GSE67472_norm_data.columns = annotated_columns_GSE67472
GSE67472_norm_data.head()

,LOC100009676,AKT3,MED6,NR2E3,NAALAD2,CDKN2BAS,LOC100049716,NAALADL1,ACOT8,ABI1,...,PPP4R1,CDC42,SLC12A6,ROD1,KCNE2,DGCR2,CASP8AP2,SCO2,CDH1,NAT1
sample_name,,,,,,,,,,,,,,,,,,,,,
"Airway epithelium, asthma sample 01",5.329072,4.888653,6.717174,4.903333,4.445861,4.808544,6.854104,5.103949,5.927904,9.579241,...,10.117098,7.123103,6.346994,8.523364,5.859315,7.303053,5.222605,9.679513,8.545118,9.604065
"Airway epithelium, asthma sample 02",5.995749,4.980210,6.641973,4.991354,4.354581,4.639297,6.299639,5.765387,6.345293,8.970563,...,9.711283,7.067920,6.315463,8.517702,5.299672,7.654083,4.410016,8.691703,9.025900,9.388568
"Airway epithelium, asthma sample 03",5.702682,5.371424,7.234998,5.398429,4.379199,4.752368,6.337287,5.251048,5.843571,9.537878,...,9.499548,7.222755,6.033887,8.550329,5.482077,7.495711,4.537349,7.265700,8.853830,9.350149
"Airway epithelium, healthy sample 01",5.583717,4.834860,7.108063,5.141136,4.159465,5.291560,6.255015,5.151088,5.987954,9.131043,...,9.964046,7.217349,6.062817,8.621510,5.015522,7.563695,4.613191,9.566222,8.849365,9.172806
"Airway epithelium, asthma sample 04",5.743467,4.736444,7.148278,4.757029,4.754785,4.487500,6.468263,5.425693,6.053634,9.198382,...,10.091075,6.835439,6.413736,8.540482,5.165816,7.486327,4.374204,9.074473,8.714443,9.346384

In [12]:
# how many genes have been annotated?
len(AFF_column_names) - len(set(AFF_column_names).intersection(set(annotated_columns_GSE67472)))

17967

In [13]:
# annotate GSE69683_norm_data genes
AFF_PM_column_names = GSE69683_norm_data.columns
annotated_columns_GSE69683 = list(map(lambda x: Affimetrix_map['AFF_PM_to_ALIAS'][x] if x in Affimetrix_map['AFF_PM_to_ALIAS'] else x,AFF_PM_column_names))
GSE69683_norm_data.columns = annotated_columns_GSE69683
GSE69683_norm_data.head()

,DDR1,RFC2,HSPA6,PAX8,GUCA1A,UBA7,THRA,PTPN21,CCL5,CYP2E1,...,AFFX-r2-TagO-3_at,AFFX-r2-TagO-5_at,AFFX-r2-TagQ-3_at,AFFX-r2-TagQ-5_at,AFFX-ThrX-3_at,AFFX-ThrX-5_at,AFFX-ThrX-M_at,AFFX-TrpnX-3_at,AFFX-TrpnX-5_at,AFFX-TrpnX-M_at
sample_name,,,,,,,,,,,,,,,,,,,,,
A_220,4.58,6.72,8.75,5.43,2.63,7.63,4.93,3.61,9.56,3.65,...,2.41,3.90,2.52,2.78,7.77,5.45,5.85,2.43,3.05,2.65
A_251,5.62,6.44,8.44,4.53,2.48,7.44,5.48,3.50,9.33,3.81,...,2.61,3.55,2.42,2.62,7.94,5.54,6.01,2.51,3.03,2.50
A_483,4.90,6.75,8.26,5.04,2.54,7.65,5.18,3.80,10.33,3.97,...,2.64,3.65,2.46,2.77,8.72,6.01,6.74,2.52,3.04,2.77
A_282,4.33,6.57,9.16,5.04,2.71,8.18,5.09,3.62,9.63,3.93,...,2.38,3.59,2.51,2.99,8.40,6.01,6.68,2.50,2.96,2.72
A_021,5.30,6.64,9.29,4.85,2.59,8.05,5.20,3.79,9.69,3.84,...,2.39,3.79,2.99,3.12,9.58,6.89,7.61,2.72,3.13,3.03

In [14]:
# how many genes have been annotated?
len(AFF_PM_column_names) - len(set(AFF_PM_column_names).intersection(set(annotated_columns_GSE69683)))

41791

### Helper Functions

In [15]:
def get_Limma_DEGs(results, fc_thresh=0):
    """
    This function returns a list of all differentially expressed genes
    from Limma results. The criteria for selecting genes are:
        pvalue < 0.05
        abs(logFC) >= fc_thresh
    """

    # Sort results by ascending p-values and descending logFC
    sorted_results = results.sort_values(by=["P.Value", "logFC"], ascending=[True, False])

    # Filter results by logFC and P-value
    filtered_results = sorted_results[(sorted_results["logFC"].abs() >= fc_thresh) & (sorted_results["P.Value"] < 0.05)]

    # Extract differentially expressed genes
    DEGs = filtered_results.iloc[:, 0].values

    return DEGs

In [16]:
def get_coexpressed_genes(module_df, WGCNA_results, r_thresh=0.2, Pvalue_thresh=0.001):
    """
    Function returns a list of co-expressed genes from a given dataset based
    on WGCNA results and gene modules correlation with the subject types based
    on these criteria:
              Pvalue < Pvalue_thresh
              |r| >= r_thresh
    """

    # Sort WGCNA results by ascending P-values and descending correlation
    sorted_results = WGCNA_results.sort_values(by=["Pvalue", "Correlation"], ascending=[True, False])

    # Filter WGCNA results
    filtered_results = sorted_results[(sorted_results["Correlation"].abs() >= r_thresh) &
                                      (sorted_results["Pvalue"] < Pvalue_thresh)]

    # Extract unique module names
    co_expressed_modules = filtered_results.iloc[:, 0].values

    # Filter module_df to only include co-expressed genes
    co_expressed_genes = module_df[module_df["colors"].isin([module.split("ME")[-1] for module in co_expressed_modules])]["gene_id"].unique()

    return list(co_expressed_genes)

In [17]:
def get_differentially_co_expressed_genes(differentially_expressed_genes, co_expressed_genes):
    """
    Function returns genes that are both differentially expressed and co-expressed.
    i.e differentially co-expressed.
    """
    differentially_co_expressed_genes = [gene for gene in differentially_expressed_genes if gene in co_expressed_genes]
    return differentially_co_expressed_genes

In [18]:
def remove_column_duplicates(df):
    """
    For one reason or another some dataframes may contain the same column name twice.
    This function will automatically select the first occurence of such column.
    """

    selected_iloc_indices = []
    seen_columns = []
    for i, column in enumerate(df.columns):
        if column not in seen_columns:
            selected_iloc_indices.append(i)
            seen_columns.append(column)

    df = df.iloc[:,selected_iloc_indices]
    return df

### Add Labels and Batch to Data

In [19]:
GSE152004_metadata["Batch"] = ["GSE152004"]*GSE152004_norm_data.shape[0]
GSE152004_norm_data = pd.concat([GSE152004_norm_data,
                                 GSE152004_metadata[["Type", "Batch"]]
                                ], axis =1)
GSE152004_norm_data.head()

,A1BG,A1BG-AS1,A1CF,A2M,A2M-AS1,A2ML1,A2MP1,A3GALT2,A4GALT,A4GNT,...,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3,Type,Batch
HR1005,12.047600,12.047600,0.0,531.815488,75.727772,151.455543,0.000000,12.047600,7380.015570,0.0,...,213.414629,487.067259,1485.296977,15.489771,1519.718691,2039.486579,4042.830358,1089.447261,asthmatic,GSE152004
HR1006,16.204622,13.645997,0.0,382.940804,23.880496,633.686008,0.000000,1.705750,20669.421796,0.0,...,187.632465,508.313406,1739.864678,52.025365,1409.802114,3917.254149,4017.040506,1224.728273,asthmatic,GSE152004
HR1009,21.992452,12.936737,0.0,169.471249,29.754494,648.130502,1.293674,9.055716,12044.101737,0.0,...,204.400438,512.294768,1503.248788,67.271030,1582.162881,2668.848752,3708.962372,1353.182644,asthmatic,GSE152004
HR1010,9.808778,3.772607,0.0,130.532202,26.408249,705.477508,0.754521,8.299735,18126.622082,0.0,...,202.966256,605.880683,1489.425241,51.307455,1876.494719,3338.757189,3414.963850,1251.751000,asthmatic,GSE152004
HR1012,11.376166,21.330311,0.0,1083.579785,28.440414,203.348962,4.266062,5.688083,13180.710004,0.0,...,214.725128,484.909064,1275.552581,27.018394,1504.497916,3924.777172,3431.335985,1215.827711,asthmatic,GSE152004

In [20]:
GSE67472_metadata["Batch"] = ["GSE67472"]*GSE67472_norm_data.shape[0]
GSE67472_norm_data = pd.concat([GSE67472_norm_data,
                                 GSE67472_metadata[["Type", "Batch"]]
                                ], axis =1)
GSE67472_norm_data.head()

,LOC100009676,AKT3,MED6,NR2E3,NAALAD2,CDKN2BAS,LOC100049716,NAALADL1,ACOT8,ABI1,...,SLC12A6,ROD1,KCNE2,DGCR2,CASP8AP2,SCO2,CDH1,NAT1,Type,Batch
"Airway epithelium, asthma sample 01",5.329072,4.888653,6.717174,4.903333,4.445861,4.808544,6.854104,5.103949,5.927904,9.579241,...,6.346994,8.523364,5.859315,7.303053,5.222605,9.679513,8.545118,9.604065,asthmatic,GSE67472
"Airway epithelium, asthma sample 02",5.995749,4.980210,6.641973,4.991354,4.354581,4.639297,6.299639,5.765387,6.345293,8.970563,...,6.315463,8.517702,5.299672,7.654083,4.410016,8.691703,9.025900,9.388568,asthmatic,GSE67472
"Airway epithelium, asthma sample 03",5.702682,5.371424,7.234998,5.398429,4.379199,4.752368,6.337287,5.251048,5.843571,9.537878,...,6.033887,8.550329,5.482077,7.495711,4.537349,7.265700,8.853830,9.350149,asthmatic,GSE67472
"Airway epithelium, healthy sample 01",5.583717,4.834860,7.108063,5.141136,4.159465,5.291560,6.255015,5.151088,5.987954,9.131043,...,6.062817,8.621510,5.015522,7.563695,4.613191,9.566222,8.849365,9.172806,healthy control,GSE67472
"Airway epithelium, asthma sample 04",5.743467,4.736444,7.148278,4.757029,4.754785,4.487500,6.468263,5.425693,6.053634,9.198382,...,6.413736,8.540482,5.165816,7.486327,4.374204,9.074473,8.714443,9.346384,asthmatic,GSE67472

In [21]:
GSE201955_metadata["Batch"] = ["GSE201955"]*GSE201955_norm_data.shape[0]
GSE201955_norm_data = pd.concat([GSE201955_norm_data,
                                 GSE201955_metadata[["Type", "Batch"]]
                                ], axis =1)
GSE201955_norm_data.head()

,DNAJC11,CDK11A,NADK,MASP2,CLCN6,TNFRSF1B,THAP3,VPS13D,H6PD,VAMP3,...,APOBEC3G,ADSL,PDXP,ARHGAP8,ARFGAP3,APOBEC3C,SHANK3,NOL12,Type,Batch
46b4_4d67,5.195173,0.434760,6.682951,-1.647374,4.707818,6.323831,3.853517,6.156486,6.290615,6.600191,...,5.296945,2.284840,1.467736,1.062751,6.694004,5.187811,0.978422,2.895713,asthmatic,GSE201955
442a_4ee4,5.009279,0.352068,6.386289,0.444971,5.123592,3.563797,4.333164,6.909673,6.274079,6.806959,...,5.114328,2.633263,1.265538,1.235494,6.370056,5.418903,1.293322,3.340659,healthy control,GSE201955
ce47_4b11,4.895325,0.863774,6.377870,0.150260,5.271711,3.856383,4.055262,7.052612,6.594367,6.497604,...,4.348760,2.966214,2.002705,3.333978,6.413285,4.863625,1.412305,3.461423,asthmatic,GSE201955
f868_4cba,5.224931,0.953208,6.497938,-0.837709,4.831947,4.505654,4.119327,6.823517,6.755827,6.842240,...,4.404184,2.627003,1.731249,3.299381,6.912591,5.122441,0.896869,3.661237,healthy control,GSE201955
273e_4084,5.204216,1.132661,6.520615,-0.864559,5.548620,6.031218,4.066954,6.607320,6.984108,6.633789,...,5.541400,2.590201,1.284268,3.111907,6.513805,5.164490,1.114981,3.524019,asthmatic,GSE201955

In [22]:
GSE58434_metadata["Batch"] = ["GSE58434"]*GSE58434_norm_data.shape[0]
GSE58434_norm_data = pd.concat([GSE58434_norm_data,
                                 GSE58434_metadata[["Type", "Batch"]]
                                ], axis =1)
GSE58434_norm_data.head()

,1/2-SBSRNA4,A1BG,A1BG-AS1,A1CF,A2LD1,A2M,A2ML1,A2MP1,A4GALT,A4GNT,...,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3,tAKR,Type,Batch
S-001167453,0.486713,6.67863,0.800632,0.0,2.76746,107.67000,0.021372,0.0,71.7415,0.346234,...,2.48296,3.80731,0.130765,5.32574,182.016,3.33042,9.49594,0.0,asthmatic,GSE58434
S-001167456,0.213607,6.06781,0.976157,0.0,2.23426,111.04000,0.000000,0.0,34.5602,0.016334,...,2.35309,4.27201,0.040554,5.96152,281.918,4.14323,9.04584,0.0,healthy control,GSE58434
S-001167457,0.328667,5.66054,1.011490,0.0,2.97234,447.55900,0.013058,0.0,64.9927,0.235736,...,2.02607,4.37955,0.207449,5.09867,323.245,4.52346,8.26247,0.0,healthy control,GSE58434
S-001167458,0.193905,9.01004,0.831169,0.0,2.93006,5.41849,0.000000,0.0,30.2220,0.079486,...,2.10799,4.61071,0.186260,5.97974,346.286,3.83862,8.83471,0.0,asthmatic,GSE58434
S-001167459,0.415307,6.41691,0.848899,0.0,2.28378,226.60300,0.011371,0.0,80.5774,0.217933,...,1.84381,3.97499,0.115428,5.74150,184.021,4.79642,8.24657,0.0,asthmatic,GSE58434

In [23]:
GSE69683_metadata["Batch"] = ["GSE69683"]*GSE69683_norm_data.shape[0]
GSE69683_norm_data = pd.concat([GSE69683_norm_data,
                                 GSE69683_metadata[["Type", "Batch"]]
                                ], axis =1)
GSE69683_norm_data.head()

,DDR1,RFC2,HSPA6,PAX8,GUCA1A,UBA7,THRA,PTPN21,CCL5,CYP2E1,...,AFFX-r2-TagQ-3_at,AFFX-r2-TagQ-5_at,AFFX-ThrX-3_at,AFFX-ThrX-5_at,AFFX-ThrX-M_at,AFFX-TrpnX-3_at,AFFX-TrpnX-5_at,AFFX-TrpnX-M_at,Type,Batch
A_220,4.58,6.72,8.75,5.43,2.63,7.63,4.93,3.61,9.56,3.65,...,2.52,2.78,7.77,5.45,5.85,2.43,3.05,2.65,asthmatic,GSE69683
A_251,5.62,6.44,8.44,4.53,2.48,7.44,5.48,3.50,9.33,3.81,...,2.42,2.62,7.94,5.54,6.01,2.51,3.03,2.50,asthmatic,GSE69683
A_483,4.90,6.75,8.26,5.04,2.54,7.65,5.18,3.80,10.33,3.97,...,2.46,2.77,8.72,6.01,6.74,2.52,3.04,2.77,healthy control,GSE69683
A_282,4.33,6.57,9.16,5.04,2.71,8.18,5.09,3.62,9.63,3.93,...,2.51,2.99,8.40,6.01,6.68,2.50,2.96,2.72,asthmatic,GSE69683
A_021,5.30,6.64,9.29,4.85,2.59,8.05,5.20,3.79,9.69,3.84,...,2.99,3.12,9.58,6.89,7.61,2.72,3.13,3.03,healthy control,GSE69683

### Prepare Data For Experimentation
The following datasets are created:  
* Including all common genes
* Including all common genes that are differentially expressed in either one of the datasets
* Including all common genes that are differentially expressed in all the datasets
* Including all common genes that are differentially co-expressed in either one of the datasets
* Including all common genes that are differentially co-expressed in all the datasets

In [24]:
# compute common genes
set1 = set(GSE152004_norm_data.columns.unique())
set2 = set(GSE201955_norm_data.columns.unique())
set3 = set(GSE58434_norm_data.columns.unique())
set4 = set(GSE67472_norm_data.columns.unique())
set5 = set(GSE69683_norm_data.columns.unique())

# Find the intersection using the intersection() method
common_genes = list(set1.intersection(set2, set3, set4, set5))
print("Intersection using intersection() method:", common_genes[:10])
print(f"{len(common_genes)} genes are common in all 5 datasets")

Intersection using intersection() method: ['SFTPB', 'SULF1', 'ATP2C1', 'VWA3B', 'PRRX2', 'PPM1A', 'KIDINS220', 'TCF19', 'TP53I11', 'YY1AP1']
11544 genes are common in all 5 datasets

#### Combine Datasets by common genes

In [25]:
# all common genes dataset
all_common_genes_data = pd.concat([
    remove_column_duplicates(GSE152004_norm_data[common_genes+["Type", "Batch"]]),
    remove_column_duplicates(GSE201955_norm_data[common_genes+["Type", "Batch"]]),
    remove_column_duplicates(GSE58434_norm_data[common_genes+["Type", "Batch"]]),
    remove_column_duplicates(GSE67472_norm_data[common_genes+["Type", "Batch"]]),
    remove_column_duplicates(GSE69683_norm_data[common_genes+["Type", "Batch"]])
], axis = 0)
all_common_genes_data.head()

,SFTPB,SULF1,ATP2C1,VWA3B,PRRX2,PPM1A,KIDINS220,TCF19,TP53I11,YY1AP1,...,RUNX1T1,CUBN,CD24,DCAF4,RGL1,ZNF805,ANKRD10,GABRB2,CDK18,FAM193B
HR1005,46.469314,888.080232,4810.434589,10596.724782,80.891029,2481.805609,3332.021955,316.679773,4808.713504,2168.568008,...,10.326514,32.700629,36724.527108,163.503143,1877.704521,535.257659,784.815089,48.190400,963.808004,444.040116
HR1006,23.027621,573.131894,6846.879232,4527.912536,166.310594,3084.848304,3590.603085,305.329193,4505.737790,2490.394539,...,7.675874,23.027621,19742.346843,318.122316,1639.225446,544.134149,1322.808880,22.174746,2227.709087,665.242377
HR1009,59.508988,681.766017,6441.201133,3357.083137,157.828186,2855.137759,3456.696009,257.441058,3360.964158,1919.811705,...,25.873473,75.033072,27198.194942,337.648824,1758.102498,631.312744,1613.211049,33.635515,1457.970210,1106.090976
HR1010,18.863035,1333.993833,6344.770441,2510.292693,257.291797,2961.496490,3425.527150,261.818925,3759.780130,2209.993177,...,12.072342,112.423688,33152.161215,235.410676,1177.807903,632.288932,2148.876943,27.162770,1117.446191,1175.544339
HR1012,100.963471,766.469165,4844.824575,2462.939878,263.073832,2710.371482,2727.435731,437.982380,5279.962914,2251.058791,...,9.954145,19.908290,21775.403204,210.459066,2115.966823,507.661395,925.735485,27.018394,893.029009,723.808544

In [26]:
all_common_genes_data.shape

(1393, 11544)

### Get DEGs for each dataset

In [27]:
GSE67472_Limma_Results_df.head()

,Unnamed: 0,logFC,AveExpr,t,P.Value,adj.P.Val,B
0,5055_at,2.191252,8.258394,9.070102,5.951979e-15,5.375233e-11,23.424373
1,1359_at,2.139189,7.452254,8.721566,3.645440e-14,1.646099e-10,21.691637
2,80206_at,-1.025014,6.507646,-8.001748,1.481909e-12,2.680203e-09,18.147705
3,60437_at,0.567571,7.467006,7.995104,1.532998e-12,2.680203e-09,18.115280
4,10631_at,2.150195,8.158812,7.959027,1.842553e-12,2.680203e-09,17.939329

In [28]:
## First annoatate Affimetrix genes
GSE67472_Limma_Results_df["Unnamed: 0"] = GSE67472_Limma_Results_df["Unnamed: 0"].apply(lambda x: Affimetrix_map['ENTREZID_to_ALIAS'][x.split("_")[0]] if x.split("_")[0] in Affimetrix_map['ENTREZID_to_ALIAS'] else x)
GSE67472_Limma_Results_df.head()

,Unnamed: 0,logFC,AveExpr,t,P.Value,adj.P.Val,B
0,SERPINB2,2.191252,8.258394,9.070102,5.951979e-15,5.375233e-11,23.424373
1,CPA3,2.139189,7.452254,8.721566,3.645440e-14,1.646099e-10,21.691637
2,FHOD3,-1.025014,6.507646,-8.001748,1.481909e-12,2.680203e-09,18.147705
3,CDH26,0.567571,7.467006,7.995104,1.532998e-12,2.680203e-09,18.115280
4,POSTN,2.150195,8.158812,7.959027,1.842553e-12,2.680203e-09,17.939329

In [29]:
GSE69683_Limma_Results_df["Unnamed: 0"] = GSE69683_Limma_Results_df["Unnamed: 0"].apply(lambda x: Affimetrix_map['AFF_PM_to_ALIAS'][x] if x in Affimetrix_map['AFF_PM_to_ALIAS'] else x)
GSE69683_Limma_Results_df.head()

,Unnamed: 0,logFC,AveExpr,t,P.Value,adj.P.Val,B
0,241320_PM_at,-0.449565,7.190582,-7.992337,9.234245e-15,4.610566e-10,22.768870
1,ACSL1,0.429497,10.947108,7.506717,2.804013e-13,7.000079e-09,19.525219
2,239003_PM_at,-0.350505,7.766245,-7.371571,7.042273e-13,8.355415e-09,18.650976
3,GPM6B,-0.483698,5.710803,-7.364721,7.376242e-13,8.355415e-09,18.607000
4,F5,0.572393,6.511707,7.346058,8.367296e-13,8.355415e-09,18.487354

In [30]:
# get differentially expressed genes from each dataset assuming a logfoldchage of 0.5
deg1 = set(get_Limma_DEGs(GSE152004_Limma_Results_df, fc_thresh=0.5))
deg2 = set(get_Limma_DEGs(GSE201955_Limma_Results_df, fc_thresh=0.5))
deg3 = set(get_Limma_DEGs(GSE58434_Limma_Results_df, fc_thresh=0.5))
deg4 = set(get_Limma_DEGs(GSE67472_Limma_Results_df, fc_thresh=0.5))
deg5 = set(get_Limma_DEGs(GSE69683_Limma_Results_df, fc_thresh=0.5))

print(len(deg1), len(deg2), len(deg3), len(deg4), len(deg5))

14 385 66 120 86

#### All common DEGs

In [31]:
# get common differentially expressed genes
all_common_DEGs = deg1.intersection(deg2,deg3,deg4,deg5)
print(len(all_common_DEGs))

0

#### All DEGs

In [32]:
# all differentially expressed genes that have matching annotation
all_DEGs = list(deg1.union(deg2,deg3,deg4,deg5).intersection(common_genes))
print(len(all_DEGs))
all_DEGs[:10]

455

['CORO6',
 'SULF1',
 'LRRC37A3',
 'CD22',
 'HLA-B',
 'CSRNP3',
 'EFHD1',
 'CYB5R2',
 'SLC2A6',
 'SCG2']

In [33]:
# prepare data for all common DEGs
all_DEGs_data = all_common_genes_data[all_DEGs+["Type", "Batch"]]
all_DEGs_data.head()

,CORO6,SULF1,LRRC37A3,CD22,HLA-B,CSRNP3,EFHD1,CYB5R2,SLC2A6,SCG2,...,CADPS,RAC2,HSF4,CD24,PGLYRP4,NTS,HBB,PHLDB2,Type,Batch
HR1005,1.721086,888.080232,247.836344,34.421714,50704.906417,123.918172,211.693544,616.148688,25.816286,127.360343,...,8.605429,304.632173,67.122343,36724.527108,30.979543,9047.747634,0.000000,166.945315,asthmatic,GSE152004
HR1006,4.264374,573.131894,147.547348,133.901350,63955.378653,12.793123,193.602589,1148.822412,51.172491,19.616121,...,14.498872,814.495474,150.105972,19742.346843,23.027621,4201.261472,6.822999,894.665709,asthmatic,GSE152004
HR1009,6.468368,681.766017,238.035953,227.686563,56408.052419,87.969809,190.170027,922.389317,60.802662,42.691231,...,31.048168,459.254148,326.005761,27198.194942,9.055716,4655.931488,7.762042,724.457247,asthmatic,GSE152004
HR1010,14.335907,1333.993833,219.565727,43.762241,40282.388433,30.935377,418.004855,768.857305,38.480591,36.971549,...,27.917292,368.206443,390.087563,33152.161215,11.317821,3876.730946,14.335907,1795.006407,asthmatic,GSE152004
HR1012,5.688083,766.469165,191.972796,69.679015,207430.161649,45.504663,89.587305,755.092999,82.477201,85.321243,...,5.688083,1161.790924,98.119429,21775.403204,52.614766,5039.641413,99.541450,142.202071,asthmatic,GSE152004

### Get DCEGs for each dataset

In [34]:
GSE67472_modules_df.head()

   Unnamed: 0       gene_id   colors
0           1  100009676_at    brown
1           2      10000_at    black
2           3      10001_at   yellow
3           4      10002_at  magenta
4           5      10003_at  magenta

In [35]:
GSE67472_r_and_Pvalue_df.head()

      Unnamed: 0  Correlation        Pvalue
0  MEgreenyellow     0.452231  1.279046e-06
1    MEturquoise     0.185027  5.880970e-02
2        MEgreen     0.567792  2.676138e-10
3      MEmagenta     0.499118  5.977090e-08
4        MEblack     0.009015  9.272795e-01

In [36]:
## First annoatate Affimetrix genes
GSE67472_modules_df["gene_id"] = GSE67472_modules_df["gene_id"].apply(lambda x: Affimetrix_map['ENTREZID_to_ALIAS'][x.split("_")[0]] if x.split("_")[0] in Affimetrix_map['ENTREZID_to_ALIAS'] else x)
GSE67472_modules_df.head()

   Unnamed: 0       gene_id   colors
0           1  LOC100009676    brown
1           2          AKT3    black
2           3          MED6   yellow
3           4         NR2E3  magenta
4           5       NAALAD2  magenta

In [37]:
GSE69683_modules_df["Unnamed: 0"] = GSE69683_modules_df["Unnamed: 0"].apply(lambda x: Affimetrix_map['AFF_PM_to_ALIAS'][x] if x in Affimetrix_map['AFF_PM_to_ALIAS'] else x)
GSE69683_modules_df.head()

   Unnamed: 0       gene_id     colors
0           1  1007_PM_s_at      green
1           2    1053_PM_at     yellow
2           3     117_PM_at     yellow
3           4     121_PM_at  turquoise
4           5  1255_PM_g_at  turquoise

In [38]:
# get coexpressed genes per data
ceg1 = set(get_coexpressed_genes(GSE152004_modules_df, GSE152004_r_and_Pvalue_df, r_thresh=0.1, Pvalue_thresh=0.05))
ceg2 = set(get_coexpressed_genes(GSE201955_modules_df, GSE201955_r_and_Pvalue_df, r_thresh=0.1, Pvalue_thresh=0.05))
ceg3 = set(get_coexpressed_genes(GSE58434_modules_df, GSE58434_r_and_Pvalue_df, r_thresh=0.1, Pvalue_thresh=0.05))
ceg4 = set(get_coexpressed_genes(GSE67472_modules_df, GSE67472_r_and_Pvalue_df, r_thresh=0.1, Pvalue_thresh=0.05))
ceg5 = set(get_coexpressed_genes(GSE69683_modules_df, GSE69683_r_and_Pvalue_df, r_thresh=0.1, Pvalue_thresh=0.05))

print(len(ceg1), len(ceg2), len(ceg3), len(ceg4), len(ceg5))

4472 4141 677 2352 9649

In [39]:
# get differentially co-expressed genes
dceg1 = set(get_differentially_co_expressed_genes(deg1, ceg1))
dceg2 = set(get_differentially_co_expressed_genes(deg2, ceg2))
dceg3 = set(get_differentially_co_expressed_genes(deg3, ceg3))
dceg4 = set(get_differentially_co_expressed_genes(deg4, ceg4))
dceg5 = set(get_differentially_co_expressed_genes(deg5, ceg5))

print(len(dceg1), len(dceg2), len(dceg3), len(dceg4), len(dceg5))

13 235 37 111 9

#### All common DCEGs

In [40]:
# get common differentially expressed genes
all_common_DCEGs = dceg1.intersection(dceg2,dceg3,dceg4,dceg5)
print(len(all_common_DCEGs))

0

#### All DCEGs

In [41]:
# all differentially expressed genes that have matching annotation
all_DCEGs = list(dceg1.union(dceg2,dceg3,dceg4,dceg5).intersection(common_genes))
print(len(all_DCEGs))
all_DCEGs[:10]

296

['CORO6',
 'NELL2',
 'LRRC37A3',
 'OST4',
 'EPB41L2',
 'IFI27',
 'DOK1',
 'FGFBP1',
 'AGER',
 'HLA-B']

In [42]:
# prepare data for all common DEGs
all_DCEGs_data = all_common_genes_data[all_DCEGs+["Type", "Batch"]]
all_DCEGs_data.head()

,CORO6,NELL2,LRRC37A3,OST4,EPB41L2,IFI27,DOK1,FGFBP1,AGER,HLA-B,...,SCN2B,NTS,TK1,KCNJ1,HBB,C2orf72,SEMA3B,TPH1,Type,Batch
HR1005,1.721086,10564.024154,247.836344,2316.581380,927.665203,3843.184414,409.618402,234.067658,24.095200,50704.906417,...,103.265143,9047.747634,99.822972,194.482686,0.000000,115.312743,184.156172,6.884343,asthmatic,GSE152004
HR1006,4.264374,2861.395095,147.547348,3466.936233,436.671919,3712.564187,1397.861866,1879.736152,28.144870,63955.378653,...,37.526493,4201.261472,156.076096,21.321871,6.822999,40.937992,295.094695,1.705750,asthmatic,GSE152004
HR1009,6.468368,1701.180858,238.035953,3111.285143,360.934950,4421.776556,1492.899399,1099.622608,135.835734,56408.052419,...,84.088788,4655.931488,169.471249,65.977356,7.762042,40.103883,210.868806,11.643063,asthmatic,GSE152004
HR1010,14.335907,1309.094627,219.565727,2765.320926,287.472653,2717.031557,760.557570,2761.548319,109.405603,40282.388433,...,18.863035,3876.730946,246.728497,52.061977,14.335907,9.808778,319.917073,3.772607,asthmatic,GSE152004
HR1012,5.688083,1534.360351,191.972796,1770.415790,584.450514,32653.861671,581.606472,291.514247,44.082642,207430.161649,...,2.844041,5039.641413,250.275646,8.532124,99.541450,63.990932,109.495595,1.422021,asthmatic,GSE152004

In [43]:
### Save data
batch = all_common_genes_data.Batch
Type = all_common_genes_data.Type
all_common_genes_data.to_csv("data2/all_common_genes_data.csv", index = False)
all_DEGs_data.to_csv("data2/all_DEGs_data.csv", index = False)
all_DCEGs_data.to_csv("data2/all_DCEGs_data.csv", index = False)

## Batch Effect Correction Using PyCombat

In [54]:
# remove batch effect
all_DEGs_data_without_batch = pycombat(all_DEGs_data.drop(["Type", "Batch"], axis =1).T,batch).T
all_DCEGs_data_without_batch = pycombat(all_DCEGs_data.drop(["Type", "Batch"], axis =1).T,batch).T
all_common_genes_data_without_batch = pycombat(all_common_genes_data.drop(["Type", "Batch"], axis =1).T,batch).T

Found 5 batches.
Adjusting for 0 covariate(s) or covariate level(s).
Standardizing Data across genes.
Fitting L/S model and finding priors.
Finding parametric adjustments.
Adjusting the Data
Found 5 batches.
Adjusting for 0 covariate(s) or covariate level(s).
Standardizing Data across genes.
Fitting L/S model and finding priors.
Finding parametric adjustments.
Adjusting the Data
Found 5 batches.
Adjusting for 0 covariate(s) or covariate level(s).
Standardizing Data across genes.
Fitting L/S model and finding priors.
Finding parametric adjustments.
Adjusting the Data

In [ ]:
# Save corrected data
all_common_genes_data_without_batch["Type"] = Type
all_DEGs_data_without_batch["Type"] = Type
all_DCEGs_data_without_batch["Type"] = Type
all_common_genes_data_without_batch.to_csv("data2/all_common_genes_data_without_batch.csv", index = False)
all_DEGs_data_without_batch.to_csv("data2/all_DEGs_data_without_batch.csv", index = False)
all_DCEGs_data_without_batch.to_csv("data2/all_DCEGs_data_without_batch.csv", index = False)